@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container {
  width: 100%;
  margin: 0 auto;
  height: auto;
  
}
.slick-track {
    margin: 0 auto;
  }

.slide .img {
  width: 48rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.5;
  

}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
  
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;

}

.arrow svg {
  transition: color 300ms;
}


.forward {
  right: 33%;
  top: 100%;
  background-color: #DDE2F6;
  padding: 20px;
  border-radius: 50%;
}

.backward {
  left: 33%;
  top: 100%;
  border-radius: 50%;
  background-color: #DDE2F6;
  padding: 20px;
 
  
}
@media (min-width:400px) {
  .slide .img {
    width: 48rem;
    margin: 0 auto;
    height: 12rem;
  }
  .forward {
    right: 40%;
    top: 100%;
    background-color: #DDE2F6;
    padding: 20px;
    border-radius: 50%;
  }
  .backward {
    left: 40%;
    top: 100%;
    border-radius: 50%;
    background-color: #DDE2F6;
    padding: 20px;
   
    
  }
}
@media (min-width:768px) {
  .slide .img {
    width: 48rem;
    margin: 0 auto;
    height: 12rem;
  }
}